#app {
    overflow-x: hidden;
    background-color: #ede0d4;
    #hero {
        .hero {
            background-image: url("../img/3.JPG");
            position: relative;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            .sub-hero {
                position: absolute;
                left: 0;
                top: 18%;
                width: 100%;
                text-align: center;
                .upper {
                    margin-bottom: 4em;
                    .sub-title {
                        font-family: "Sacramento", cursive;
                        font-size: 1.8em;
                        color: white;
                        margin-bottom: 1.1em;
                    }
                    .bride {
                        font-family: "Sacramento", cursive;
                        font-weight: bold;
                        font-size: 3.5em;
                        color: white;
                        margin-bottom: 0.6em;
                    }
                    .text {
                        margin-bottom: 0.3em;
                        color: white;
                        font-size: 1em;
                    }
                    .date {
                        font-size: 1em;
                        color: #ede0d4;
                        font-weight: bolder;
                    }
                }
                .middle {
                    color: white;
                    .mb-1 {
                        margin-bottom: 0.7em;
                    }
                    .text {
                        font-weight: bold;
                        font-size: 1.2em;
                    }
                }
                .btn-wedding {
                    border: 1px solid #ede0d4 !important;
                    background-color: #7f5539 !important;
                }
            }
        }
    }

    #invitation {
        .invitation {
            align-items: center;
            position: relative;
            background-color: #ede0d4;
            color: #6a7d6a;
            padding-top: 2rem;
            padding-bottom: 2rem;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                background-image: url("https://www.agungfriska.wedding/img/leaf.e95fedc2.png");
                background-size: 96px 160px;
                width: 96px;
                height: 160px;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background-image: url("https://www.agungfriska.wedding/img/leaf.e95fedc2.png");
                background-size: 96px 160px;
                width: 96px;
                height: 160px;
                transform: scale(-1);
            }
            .sub-invitation {
                .upper {
                    text-align: center;
                    color: #7f5539;
                    .title1 {
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin-bottom: 0.9em;
                    }
                    .title2 {
                        font-size: 0.9rem;
                        margin-bottom: 0.8em;
                    }
                    .bride {
                        font-family: "Sacramento", cursive;
                        font-size: 3rem;
                    }
                    .title3 {
                        font-size: 0.9rem;
                    }
                    .title4 {
                        margin-top: 2rem;
                        margin-bottom: 1.5rem;
                        letter-spacing: 1rem;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
                .middle {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: center;
                    align-items: center;
                    justify-content: space-evenly;
                    margin-top: 1rem;
                    .image-bride {
                        border-radius: 100%;
                        width: 100px;
                    }
                    .image-flower {
                        width: 50px;
                    }
                }
            }
        }
    }

    #event {
        .event {
            background-color: #7f5539;
            color: #6a7d6a;
            padding-top: 2rem;
            padding-bottom: 2rem;
            .sub-event {
                .upper {
                    text-align: center;
                    color: #ede0d4;
                    padding: 1.3rem;
                    .title1 {
                        font-weight: bold;
                        font-size: 0.8rem;
                        margin-bottom: 0.9em;
                    }
                    .title2 {
                        font-size: 2.4rem;
                        font-weight: bold;
                        font-family: "Sacramento", cursive;
                        margin-bottom: 0.8em;
                    }
                }
                .middle {
                    .event-card {
                        border: 2px solid rgba(255, 255, 255, 0.5);
                        background: rgba(255, 255, 255, 0.1);
                        padding: 30px;
                        width: 100%;
                        border-radius: 4px;
                        margin-bottom: 1.5rem;
                        .event-card-title {
                            font-size: 1rem;
                            color: #ede0d4;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                            display: block;
                            padding-bottom: 20px;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            text-align: center;
                            margin-bottom: 1.6rem;
                        }
                        .event-card-main {
                            text-align: center;
                            .image-icon {
                                width: 30px;
                                color: red;
                                margin-bottom: 0.4rem;
                            }
                            .text {
                                color: #ede0d4;
                                font-size: 15px;
                            }
                            .text2 {
                                color: #ede0d4;
                                font-size: 15px;
                                margin-bottom: 1rem;
                            }
                            .button {
                                background-color: #ddb892;
                                &:hover {
                                    background-color: #ded4cb;
                                }
                            }
                            .text-title {
                                color: #ede0d4;
                                font-size: 20px;
                                margin-bottom: 2rem;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }

    #rules {
        .rules {
            background-color: #ede0d4;
            color: #6a7d6a;
            padding-top: 2rem;
            padding-bottom: 2rem;
            .sub-rules {
                .upper {
                    text-align: center;
                    color: #7f5539;
                    padding: 1.3rem;
                    .title2 {
                        font-size: 2.4rem;
                        font-weight: bold;
                        font-family: "Sacramento", cursive;
                    }
                    .title1 {
                        font-size: 0.8rem;
                    }
                }
                .middle {
                    color: #7f5539;
                    .cards {
                        border: 2px solid rgba(255, 255, 255, 0.5);
                        background: rgba(255, 255, 255, 0.1);
                        padding: 30px;
                        width: 100%;
                        border-radius: 4px;
                        margin-bottom: 1.5rem;
                        text-align: center;
                        height: 200px;
                        .hero-image {
                            display: flex;
                            justify-content: center;
                            .image-icon {
                                width: 40px;
                                text-align: center;
                            }
                        }
                        .text {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    #galery {
        .galery {
            background-color: #7f5539;
            color: #6a7d6a;
            padding-top: 2rem;
            padding-bottom: 2rem;
            .sub-galery {
                .upper {
                    text-align: center;
                    color: #ede0d4;
                    padding: 1.3rem;
                    .title2 {
                        font-size: 2.4rem;
                        font-weight: bold;
                        font-family: "Sacramento", cursive;
                    }
                    .title1 {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    #footer {
        .footer {
            background-image: url("https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fGJhY2tncm91bmQlMjBsaW5rZWRsbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
            position: relative;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 20vh;
            .sub-footer {
                position: absolute;
                left: 0;
                top: 25%;
                width: 100%;
                text-align: center;
                .upper {
                    color: white;
                    .sub-title {
                        font-family: "Sacramento", cursive;
                        font-size: 40px;
                    }
                    .bride {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #app {
        #hero {
            .hero {
                height: 200vh;
            }
        }
        #invitation {
            .invitation {
                height: 200vh;
            }
        }
        #footer {
            .footer {
                height: 40vh;
            }
        }
    }
}

@media (min-width: 992px) {
    #app {
        #hero {
            .hero {
                height: 100vh;
            }
        }
        #invitation {
            .invitation {
                height: 100vh;
            }
        }
        #footer {
            .footer {
                height: 20vh;
            }
        }
    }
}
@media (min-width: 1200px) {
    #app {
        #hero {
            .hero {
                height: 100vh;
            }
        }
        #invitation {
            .invitation {
                height: 100vh;
            }
        }
        #footer {
            .footer {
                height: 20vh;
            }
        }
    }
}
@media (min-width: 1400px) {
    #app {
        #hero {
            .hero {
                height: 100vh;
            }
        }
        #invitation {
            .invitation {
                height: 100vh;
            }
        }
        #footer {
            .footer {
                height: 20vh;
            }
        }
    }
}
